
* {
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
}

body {
  color: white;
  font-family: 'Anurati', sans-serif;
                                                
}

a.nav_items {
  color: white;
}

.nav_items:hover{
  color: #39ff14;
}

@media screen and (min-width: 1300px) {
    section.landing_page {
      width: 100%;
      height: 100vh;
      display: block;
      background-image: url(background.webp);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .head {
      display: flex;
      width: 100%;
      height: 15vh;
      flex-direction: row;
      justify-content: space-between;

    }


    .logo_section {

      display: flex;
      width: 15%;
      padding: auto;
      justify-content: center;
      align-items: center;
    }
    img.logo {
      width:50px;
      height: 50px;
      border-radius: 50px;
    }
    .navbar {
      width: 25%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: auto;
    }

    .title {

      color: rgba(255, 255, 255, 1);
      display: flex;
      height: 30vh;
      width: 50vw;
      justify-content: center;
      align-items: center;
      font-size: 5em;
      padding: auto;
      margin: 115px 0 0 30px;
      box-sizing: border-box;
    }

    .title_page {
      /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.225); */
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #fbffff;
      -webkit-text-stroke-width: 2px;

    }

    .button {
      /* border: 1px solid white; */
      width: 50vw;
      margin:0 0 0 30px;
      display: flex;
      height: 2.5em;
      justify-content: center;
      align-items: center;
    }

    .explore {
      width: 6.5vw;
      height: 2.5em;
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .explore:hover{
      background-color: #f6f6eb;
      color: #121313;
    }
}
